# SPDX-License-Identifier: GPL-2.0-only
#
# Retrode3
#

config RETRODE3_BUS
	tristate "Retrode3 GPIO based Bus controller"
	help
	  Choose Y or M.

config RETRODE3_BUFFER
	bool "use in-kernel driver buffer to speed up read()"
	depends on RETRODE3_BUS
	help
	  Choose N or Y.

config RETRODE3_MEGADRIVE
	tristate "Retrode3 driver for MegaDrive slot"
	depends on RETRODE3_BUS
	help
	  Choose Y or M.

config RETRODE3_NES
	tristate "Retrode3 driver for NES slot"
	depends on RETRODE3_BUS
	help
	  Choose Y or M.

config RETRODE3_SNES
	tristate "Retrode3 driver for SNES slot"
	depends on RETRODE3_BUS
	help
	  Choose Y or M.

config RETRODE3_CONTROLLER
	tristate "Retrode3 driver for Game Controllers"
	depends on RETRODE3_BUS
	help
	  Choose Y or M.

