#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_HYN
    bool "hyn Touchscreen"
    default n
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.

config TOUCHSCREEN_HYN_DIRECTORY
    string "hyn ts directory name"
    default "hyn_touch"
    depends on TOUCHSCREEN_HYN

