config RTC_DRV_INGENIC
    tristate "INGENIC RTC"
            help
            If you say Y here you will get access to the real time clock
              built into your INGENIC CPU.

              To compile this driver as a module, choose M here: the
	      module will be called rtc-ingenic.

config SUSPEND_TEST
	  bool "Ingenic RTC suspend test"
	  depends on RTC_DRV_INGENIC
	  help
	  If you say yes here the Ingenic rtc will support suspend test.

config SUSPEND_ALARM_TIME
	  int "Ingenic RTC suspend alarm time Unit of second"
	  depends on SUSPEND_TEST
	  default "60"
	  help
	  If you say yes here Automatically wake up after a set time of sleep.

