#
# IIO Digital Gyroscope Sensor drivers configuration
#
menu "Digital gyroscope sensors"

config ADIS16060
	tristate "Analog Devices ADIS16060 Yaw Rate Gyroscope with SPI driver"
	depends on SPI
	help
	  Say yes here to build support for Analog Devices adis16060 wide bandwidth
	  yaw rate gyroscope with SPI.

config ITG3200
	tristate "InvenSence ITG3200 3-axis gyroscope"
	depends on I2C
	help
	  Support for 3-axis gyroscope as IIO device

config ITG3200
	tristate "InvenSence ITG3200 3-axis gyroscope"
	depends on I2C
	help
	  Support for 3-axis gyroscope as IIO device

endmenu
