/dts-v1/;

// NOTE: all this could be made depend on a set of some CONFIG options

/* choose one board revision */
// #include "lx16-v0.1.dtsi"
// #include "lx16-v0.2.dtsi"
#include "lx16-v0.3.dtsi"

/* choose none or one of the wireless options */
#include "lx16-wireless-qcom.dtsi"
// #include "lx16-wireless-esp32.dtsi"

/* choose none or one of the application options */
// #include "lx16-spi-epd.dtsi"
// #include "lx16-spi-lcd.dtsi"

// #include "lx16-retrode3.dtsi"
