/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "x2600.dtsi"

// Mapping of RasPi functions to 40 pin RasPi connector (you can either use pin or signal names)
#define SDA	PIN3
#define SCL	PIN5
#define IO4	PIN7
#define TXD	PIN8
#define RXD	PIN10
#define IO17	PIN11
#define PCM_CLK	PIN12
#define IO18	PIN12
#define IO27	PIN13
#define IO22	PIN15
#define IO23	PIN16
#define IO24	PIN18
#define MOSI	PIN19
#define IO10	PIN19
#define MISO	PIN21
#define IO9	PIN21
#define IO25	PIN22
#define SCLK	PIN23
#define IO11	PIN23
#define CE0	PIN24
#define IO8	PIN24
#define CE1	PIN26
#define IO7	PIN26
#define IDSD	PIN27
#define IDSC	PIN28
#define IO5	PIN29
#define IO6	PIN31
#define IO12	PIN32
#define IO13	PIN33
#define IO19	PIN35
#define IO16	PIN36
#define IO26	PIN37
#define IO20	PIN38
#define IO21	PIN40

// Mapping of connector pins to LX26 signals
// e.g. #define PIN3	PB31_SDA0

// there are no connections to LX26 in this v0.1
// e.g. #define PB31_SDA0		&gpb 31

/ {
	compatible = "goldelico,letux-x26", "ingenic,x2600";

	model = "Letux LX26v0.1";

	chosen {
		stdout-path = &uart2;
#if 0	// u-boot and optionally CONFIG_CMDLINE should provide something application specific
		bootargs = "mem=128M@0x0 ieee754=emulated rootfstype=ext4 root=/dev/mmcblk0p2 rw earlycon console=ttyS2,115200 clk_ignore_unused ignore_loglevel rootwait";
#endif
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges =<>;

		reserved_memory: reserved_mem@2000000{
		      compatible = "shared-dma-pool";
		      reg = <0x02000000 0x20000>;
		};
	};

};

&uart0 {
	status = "okay";
#if 0	// FIXME
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe>;
#endif
};

&uart1 {
	status = "okay";
#if 0	// FIXME
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pb>;
#endif
};

&uart2 {
	status = "okay";
#if 0	// FIXME
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pd>;
#endif
};

&otg {
	dr_mode = "otg"; // host,peripheral,otg
	status = "okay";
};

&usb {
	status = "okay";
};

&otg_phy {
	status = "okay";
};

&usb_phy {
	status = "okay";
};

&msc0 {
	status = "okay";
};

&msc1 {
	status = "okay";
};

#if 0	// needs a new mechanism to control this
&pinctrl {
	ingenic,gpa_voltage = <GPIO_VOLTAGE_1V8>;
	ingenic,gpe_msc_voltage = <GPIO_VOLTAGE_1V8>;
};
#endif

&sfc {
	status = "okay";
#if 0 // FIXME
	pinctrl-names = "default";
	pinctrl-0 = <&sfc_pd1>;
#endif
	ingenic,sfc-max-frequency = <200000000>;
	ingenic,sfc-init-frequency= <40000000>;
	ingenic,use_ofpart_info  = /bits/ 8 <0>;
	ingenic,spiflash_param_offset = <0>;
};

&tcu0 {
	status = "disable";
};

&tcu1 {
	status = "disable";
};

/ {

	extclk: extclk {
		clock-frequency = <24000000>;
	};
};

&jpegd {
    status = "okay";
};

&jpege {
    status = "okay";
};

&felix {
	status = "okay";
};

&pdma {
	status = "okay";
};

&pdma1 {
	status = "okay";
};
