// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "x1501.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/clock/ingenic,sysost.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	compatible = "sudomaker,wireless-terminal", "ingenic,x1501";
	model = "SudoMaker Wireless Terminal";

	aliases {
		serial2 = &uart2;
	};

	chosen {
		stdout-path = "serial2:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x800000>;
	};

	clk_11059200: clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <11059200>;
		clock-accuracy = <100>;
	};
};

&exclk {
	clock-frequency = <24000000>;
};

&cgu {
	assigned-clocks = <&cgu X1000_CLK_SSIMUX>, <&cgu X1000_CLK_RTC>;
	assigned-clock-parents = <&cgu X1000_CLK_SSIPLL_DIV2>, <&cgu X1000_CLK_EXCLK_DIV512>;
};

&ost {
	/* 1500 kHz for the system timer and clocksource */
	assigned-clocks = <&ost OST_CLK_EVENT_TIMER>, <&ost OST_CLK_GLOBAL_TIMER>;
	assigned-clock-rates = <1500000>, <1500000>;
};

&ssi {
	status = "okay";

	// MPLL = 552MHz
	assigned-clocks = <&cgu X1000_CLK_SSIPLL>;
	assigned-clock-rates = <276000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&pins_spi0>;

	num-cs = <3>;
	cs-gpios = <0>, <&gpa 12 GPIO_ACTIVE_LOW>, <&gpa 11 GPIO_ACTIVE_LOW>;

	psram: ly68@0 {
		reg = <0>;
		compatible = "lyontek,ly68l6400";

		spi-max-frequency = <69000000>;
		lyontek,rx-max-frequency = <34500000>;
		// 85 degrees C rating
		lyontek,op-sleep-ratio = <30>;
		// 105 degrees C rating, but the plastic shell will melt?
		// lyontek,op-sleep-ratio = <8>;
	};

	lcd: uc1638@1 {
		reg = <1>;
		compatible = "sudomaker,spidev-zerocopy";

		spi-max-frequency = <16000000>;
	};

	lora: sx126x@2 {
		reg = <2>;
		compatible = "sudomaker,spidev-zerocopy";

		spi-max-frequency = <8000000>;
	};
};

&uart1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pins_uart1>;
};

&uart2 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pins_uart2>;
};

&audio {
	status = "okay";
};

&i2c1 {
	status = "okay";

	clock-frequency = <200000>;

	pinctrl-names = "default";
	pinctrl-0 = <&pins_i2c1>;

	rtc: rx8900@32 {
		compatible = "epson,rx8900";
		reg = <0x32>;

		interrupt-parent = <&gpa>;
		interrupts = <16 IRQ_TYPE_EDGE_FALLING>;
		wakeup-source;

		epson,vdet-disable;
		trickle-diode-disable;
	};

	uart_exp: sc16is752@4d {
		compatible = "nxp,sc16is752";
		reg = <0x4d>;

		clocks = <&clk_11059200>;

		interrupt-parent = <&gpa>;
		interrupts = <15 IRQ_TYPE_EDGE_FALLING>;
		wakeup-source;

		gpio-controller;
		#gpio-cells = <2>;

		nxp,porta-as-gpio;
		nxp,portb-as-gpio;
	};
};

&msc1 {
	status = "okay";

	bus-width = <4>;
	max-frequency = <50000000>;

	pinctrl-names = "default";
	pinctrl-0 = <&pins_msc1>;

	non-removable;
};

&otg_phy {
	status = "okay";
};

&otg {
	status = "okay";
};

&pinctrl {
	pins_spi0: spi0 {
		function = "ssi";
		groups = "ssi-dt-d", "ssi-dr-d", "ssi-clk-d", "ssi-ce0-d";
		bias-disable;
	};

	pins_uart2: uart2 {
		function = "uart2";
		groups = "uart2-data-a";
		bias-pull-up;
	};

	pins_uart1: uart1 {
		function = "uart1";
		groups = "uart1-data-a", "uart1-hwflow";
		bias-pull-up;
	};

	pins_i2c1: i2c1 {
		function = "i2c1";
		groups = "i2c1-data-a";
		bias-pull-up;
	};

	pins_msc1: msc1 {
		function = "mmc1";
		groups = "mmc1-1bit", "mmc1-4bit";
		bias-pull-up;
	};

};
