

menuconfig Sys_Link
	bool "Sys_Link"
	default y

if Sys_Link

config  SYSLINK_PROC
        tristate "Syslink ProcMgr"
        default m
        help
           Syslink Proc manager

config  SYSLINK_PROC4430
        tristate "Proc 4430"
        depends on SYSLINK_PROC && OMAP_IOMMU
        default m
        help
           Ducati Proc implementation

config MPU_BRIDGE_NOTIFY
	tristate "OMAP Notify Module"
	default m 
	help
          Notify Module

config NOTIFY_DISPATCHER  
	tristate "Mailbox Dispatcher"
	depends on MPU_BRIDGE_NOTIFY
	default m
	help
 	   MailBox Dispatcher Module 

config  NOTIFY_DUCATI  
	tristate "OMAP Notify Ducati Module"
	depends on MPU_BRIDGE_NOTIFY && SYSLINK_PROC4430
	default m
	help
 	   Notify Ducati Module 

config MPU_SYSLINK_IPC
        tristate "Syslink IPC Module"
        depends on MPU_BRIDGE_NOTIFY && NOTIFY_DUCATI
        default m
        help
          Syslink IPC Module

endif




