menu "Ingenic device-drivers Configurations"


config OUTSIDE_DRIVERS_PATH
	string
	default "module_drivers"

source "module_drivers/drivers/Kconfig"
source "module_drivers/sound/soc/ingenic/Kconfig"

endmenu
