
config PWM_INGENIC
        tristate "Ingenic PWM support"
        depends on MACH_XBURST || SOC_X2500
        help
          Generic PWM framework driver for Ingenic soc based
          machines.

          To compile this driver as a module, choose M here: the module
          will be called pwm-ingenic.

config PWM_INGENIC_V2
        tristate "Ingenic PWM V2 support"
        depends on SOC_X2000_V12 || SOC_X2000 || SOC_M300 || SOC_X2100
        help
          Generic PWM framework driver for Ingenic soc based
          machines.
          Support SOCs: X2000,

          To compile this driver as a module, choose M here: the module
          will be called pwm-ingenic.


config PWM_INGENIC_V3
        bool "Ingenic V3 PWM support"
        depends on SOC_X1600
        help
          Generic PWM framework driver for ingenic PWM-V3
          machines.

config JZ_PWM_GPIO_TRIGGER
        bool "pwm gpio trigger support"
        depends on PWM_INGENIC_V3
        default n


