#
# Thermal Temp sensor configuration
#

config CASE_TEMP_SENSOR
	bool "Case temp sensor support"
	depends on THERMAL_FRAMEWORK && OMAP_THERMAL
	help
	  Enabling this config will give support for the case
	  temp sensor for the OMAP platform.

config OMAP_TMP102_SENSOR
	bool "OMAP TMP102 temp sensor support"
	depends on THERMAL_FRAMEWORK
	help
	  Enabling this config will give support for the tmp102
	  temp sensor for the OMAP platform.
