config UBIFS_FS
	tristate "UBIFS file system support"
	select CRC16
	select CRC32
	depends on MTD_UBI
	help
	  UBIFS is a file system for flash devices which works on top of UBI.

config UBIFS_FS_XATTR
	bool "Extended attributes support"
	depends on UBIFS_FS
	default n
	help
	  This option enables support of extended attributes.

config UBIFS_FS_ADVANCED_COMPR
	bool "Advanced compression options"
	depends on UBIFS_FS
	default n
	help
	  This option allows to explicitly choose which compressions, if any,
	  are enabled in UBIFS. Removing compressors means inbility to read
	  existing file systems.

	  If unsure, say 'N'.

config UBIFS_FS_LZO
	bool "LZO compression support" if UBIFS_FS_ADVANCED_COMPR
	select CRYPTO
	select CRYPTO_LZO
	depends on UBIFS_FS
	default y
	help
	   LZO compressor is generally faster then zlib but compresses worse.
	   Say 'Y' if unsure.

config UBIFS_FS_ZLIB
	bool "ZLIB compression support" if UBIFS_FS_ADVANCED_COMPR
	select CRYPTO
	select CRYPTO_DEFLATE
	depends on UBIFS_FS
	default y
	help
	  Zlib copresses better then LZO but it is slower. Say 'Y' if unsure.

# Debugging-related stuff
source "fs/ubifs/Kconfig.debug"
