#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FT6236
    bool "FT6236 Touchscreen"
    default n
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.
