// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (c) 2018 ARM Ltd.

#include "sun50i-a64-sopine-baseboard.dts"
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "Pine64 LTS";
	compatible = "pine64,pine64-lts", "allwinner,sun50i-r18",
		     "allwinner,sun50i-a64";

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&r_pwm 0 50000 PWM_POLARITY_INVERTED>;
		brightness-levels = <1 2 4 8 16 32 64 128 512>;
		default-brightness-level = <8>;
		enable-gpios = <&pio 7 10 GPIO_ACTIVE_HIGH>; /* LCD-BL-EN: PH10 */
	};
};

&de {
	status = "okay";
};

&dphy {
	status = "okay";
};

&dsi {
	vcc-dsi-supply = <&reg_dldo1>;		/* VCC3V3-DSI */
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	panel@0 {
		compatible = "feiyang,fy07024di26a30d";
		reg = <0>;
		avdd-supply = <&reg_dc1sw>;	/* VCC-LCD */
		dvdd-supply = <&reg_dldo2>;	/* VCC-MIPI */
		reset-gpios = <&pio 3 24 GPIO_ACTIVE_HIGH>; /* LCD-RST: PD24 */
		backlight = <&backlight>;
	};
};

&r_pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&r_pwm_pin>;
	status = "okay";
};
