#include "dra7-evm-lcd7.dts"
/ {
	multicodec_sound {
		compatible = "ti,dra7xx-jamr3-multicodec-evm";
		ti,model = "DRA7xx-JAMR3";
		ti,always-on;
		clocks = <&atl_clkin1_ck>;
		clock-names = "ti,codec-clock";

		ti,audio-routing =
			"J3A LINE1L",           "JAMR3 Stereo Aux In",
			"J3A LINE1R",           "JAMR3 Stereo Aux In",
			"J3B LINE1L",           "JAMR3 Mono Mic 1",
			"J3B LINE1R",           "JAMR3 Mono Mic 2",
			"JAMR3 Line Out 1",     "J3A LLOUT",
			"JAMR3 Line Out 1",     "J3A RLOUT",
			"JAMR3 Line Out 2",     "J3B LLOUT",
			"JAMR3 Line Out 2",     "J3B RLOUT",
			"JAMR3 Line Out 3",     "J3C LLOUT",
			"JAMR3 Line Out 3",     "J3C RLOUT";

		/* Multichannel DAI link */
		ti,multichannel-cpu = <&mcasp6>;
		ti,multichannel-codec-a = <&tlv320aic3106a>;
		ti,multichannel-codec-b = <&tlv320aic3106b>;
		ti,multichannel-codec-c = <&tlv320aic3106c>;
		ti,multichannel-slots = <8>;
	};
};

&i2c2 {
	tlv320aic3106a: tlv320aic3106@18 {
		compatible = "ti,tlv320aic3106";
		reg = <0x18>;
		adc-settle-ms = <40>;
		ai3x-micbias-vg = <1>;		/* 2.0V */
		status = "okay";
		name-prefix = "J3A";

		/* Regulators */
		AVDD-supply = <&evm_3v3_sw>;
		IOVDD-supply = <&evm_3v3_sw>;
		DRVDD-supply = <&evm_3v3_sw>;
		DVDD-supply = <&aic_dvdd>;
	};

	tlv320aic3106b: tlv320aic3106@19 {
		compatible = "ti,tlv320aic3106";
		reg = <0x19>;
		adc-settle-ms = <40>;
		ai3x-micbias-vg = <1>;		/* 2.0V */
		status = "okay";
		name-prefix = "J3B";

		/* Regulators */
		AVDD-supply = <&evm_3v3_sw>;
		IOVDD-supply = <&evm_3v3_sw>;
		DRVDD-supply = <&evm_3v3_sw>;
		DVDD-supply = <&aic_dvdd>;
	};

	tlv320aic3106c: tlv320aic3106@1a {
		compatible = "ti,tlv320aic3106";
		reg = <0x1a>;
		adc-settle-ms = <40>;
		ai3x-micbias-vg = <1>;		/* 2.0V */
		status = "okay";
		name-prefix = "J3C";

		/* Regulators */
		AVDD-supply = <&evm_3v3_sw>;
		IOVDD-supply = <&evm_3v3_sw>;
		DRVDD-supply = <&evm_3v3_sw>;
		DVDD-supply = <&aic_dvdd>;
	};

	tvp5158@58 {
		compatible= "ti,tvp5158";
		reg = <0x58>;

		gpios = <&pcf_hdmi 3 0>,
			<&pcf_gpio_21 8 0>;
		port {
			tvp_decoder: endpoint@0 {
				/* No properties for BT656 */
			};
		};
	};
};

&vin1a {
	endpoint {
		slave-mode;
		remote-endpoint = <&tvp_decoder>;
	};
};
