/*
 * Copyright (C) 2013 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/ {
	aliases {
		display0 = &tlc59108;
		display1 = &hdmi0;
	};
};

/* 7" display and tsc hooked to i2c1 */
&i2c1 {
	/* TLC chip for LCD panel power and backlight */
	tlc59108: tlc59108@40 {
		compatible = "ti,tlc59108-tfcs9700";
		reg = <0x40>;
		enable-gpios = <&pcf_lcd 13 GPIO_ACTIVE_LOW>; /* P15, CON_LCD_PWR_DN */

		port {
			tlc_in: endpoint {
				remote-endpoint = <&dpi_out>;
			};
		};
	};




	mxt244: touchscreen@4a {
		compatible = "atmel,mXT244";
		status = "okay";
		reg = <0x4a>;
		interrupts = <GIC_SPI 114 IRQ_TYPE_LEVEL_HIGH>;
		pinctrl-0 = <&tsc_pins>;

		atmel,config = <
			/* MXT244_GEN_COMMAND(6) */
			0x00 0x00 0x00 0x00 0x00 0x00
			/* MXT244_GEN_POWER(7) */
			0x20 0xff 0x32
			/* MXT244_GEN_ACQUIRE(8) */
			0x0a 0x00 0x05 0x00 0x00 0x00 0x09 0x23
			/* MXT244_TOUCH_MULTI(9) */
			0x00 0x00 0x00 0x13 0x0b 0x00 0x00 0x00 0x02 0x00
			0x00 0x01 0x01 0x0e 0x0a 0x0a 0x0a 0x0a 0x00 0x00
			0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00
			0x00
			/* MXT244_TOUCH_KEYARRAY(15) */
			0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00
			0x00
			/* MXT244_COMMSCONFIG_T18(2) */
			0x00 0x00
			/* MXT244_SPT_GPIOPWM(19) */
			0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00
			0x00 0x00 0x00 0x00 0x00 0x00
			/* MXT244_PROCI_GRIPFACE(20) */
			0x07 0x00 0x00 0x00 0x00 0x00 0x00 0x50 0x28 0x04
			0x0f 0x0a
			/* MXT244_PROCG_NOISE(22) */
			0x05 0x00 0x00 0x00 0x00 0x00 0x00 0x03 0x23 0x00
			0x00 0x05 0x0f 0x19 0x23 0x2d 0x03
			/* MXT244_TOUCH_PROXIMITY(23) */
			0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00
			0x00 0x00 0x00 0x00 0x00
			/* MXT244_PROCI_ONETOUCH(24) */
			0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00
			0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00
			/* MXT244_SPT_SELFTEST(25) */
			0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00
			0x00 0x00 0x00 0x00
			/* MXT244_PROCI_TWOTOUCH(27) */
			0x00 0x00 0x00 0x00 0x00 0x00 0x00
			/* MXT244_SPT_CTECONFIG(28) */
			0x00 0x00 0x02 0x08 0x10 0x00
		>;

		atmel,x_line = <18>;
		atmel,y_line = <12>;
		atmel,x_size = <800>;
		atmel,y_size = <480>;
		atmel,blen = <0x01>;
		atmel,threshold = <30>;
		atmel,voltage = <2800000>;
		atmel,orient = <0x4>;
	};
};

&dss {
	pinctrl-names = "default";
	pinctrl-0 = <&vout1_pins>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port {
			reg = <0>;

			dpi_out: endpoint {
				remote-endpoint = <&tlc_in>;
				data-lines = <24>;
			};
		};
	};
};
