/*
 * Copyright (C) 2013 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/include/ "dra7.dtsi"

/ {
	model = "TI DRA7";
	compatible = "ti,dra7-evm", "ti,dra7";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x20000000>; /* 512 MB */
	};

	vmmcsd_fixed: fixedregulator-mmcsd {
		compatible = "regulator-fixed";
		regulator-name = "vmmcsd_fixed";
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
	};

	ion_config {
		compatible = "ti,ion-omap";
		ti,omap_ion_heap_secure_input_base = <0xba300000>;
		ti,omap_ion_heap_tiler_base = <0xb4300000>;
		ti,omap_ion_heap_nonsecure_tiler_base = <0xf00000>;
		/*90 MB*/
		ti,omap_ion_heap_secure_input_size = <0x5A00000>;
		/*96 MB*/
		ti,omap_ion_heap_tiler_size = <0x6000000>;
		/*15 MB*/
		ti,omap_ion_heap_nonsecure_tiler_size = <0xF00000>;
	};

	sound {
		compatible = "ti,dra7-evm-sound";
		ti,model = "Vayu-EVM";

		/* Audio routing */
		ti,audio-routing =
			"LINE1L", "Line In",
			"LINE1R", "Line In",
			"MIC3L", "Mic Bias 2V",
			"MIC3R", "Mic Bias 2V",
			"Mic Bias 2V", "Main Mic",
			"Headphone", "HPLOUT",
			"Headphone", "HPROUT",
			"Line Out", "LLOUT",
			"Line Out", "RLOUT";

		ti,mclk-freq = <36126720>;

		/* Media DAI link */
		ti,media-cpu = <&mcasp3>;
		ti,media-codec = <&tlv320aic3106>;
	};

	sound_hdmi {
		compatible = "ti,omap-hdmi-tpd12s015-audio";
		ti,model = "OMAP5HDMI";

		ti,hdmi_audio = <&hdmi>;
		ti,level_shifter = <&tpd12s015>;
	};
};

&i2c1 {
	clock-frequency = <400000>;

	tps659038: tps659038@58 {
		reg = <0x58>;
		/* SPI = 0, IRQ# = 7, 4 = active high level-sensitive */
		interrupts = <0 7 4>; /* IRQ_SYS_1N cascaded to gic */
		interrupt-parent = <&gic>;
	};

	pcf_lcd: pcf8575@20 {
		compatible = "ti,pcf8575";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	/* TLC chip for LCD panel power and backlight */
	tlc59108: tlc59108@40 {
		compatible = "ti,tlc59108";
		reg = <0x40>;
		gpios = <&pcf_lcd 15 0>; /* P15, CON_LCD_PWR_DN */
	};

	tlv320aic3106: tlv320aic3106@30 {
		compatible = "ti,tlv320aic3x";
		reg = <0x18>;
		IOVDD-supply = <&smps7_reg>;	/* replace by VDAC_3V3 */
		DVDD-supply = <&smps7_reg>;	/* replace by VDAC_3V3 */
		AVDD-supply = <&smps7_reg>;	/* replace by VDAC_3V3 */
		DRVDD-supply = <&smps7_reg>;	/* replace by VDAC_3V3 */
	};
};

/include/ "tps659038.dtsi"

&i2c2 {
	clock-frequency = <400000>;

	pcf_hdmi: pcf8575@26 {
		compatible = "ti,pcf8575";
		reg = <0x26>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&i2c3 {
	clock-frequency = <400000>;
};

&i2c4 {
	clock-frequency = <400000>;
};

&i2c5 {
	clock-frequency = <400000>;
};

&mmc1 {
	vmmc-supply = <&ldo1_reg>;
	bus-width = <4>;
};

&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	bus-width = <8>;
	ti,non-removable;
};

&mmc3 {
	bus-width = <8>;
	ti,non-removable;
	status = "disabled";
};

&mmc4 {
	bus-width = <4>;
	status = "disabled";
};

&hdmi {
	tpd12s015: tpd12s015 {
		compatible = "ti,tpd12s015";

		gpios = <&pcf_hdmi 4 0>,	/* pcf8575@22 P4, CT_CP_HDP */
			<&pcf_hdmi 5 0>,	/* pcf8575@22 P5, LS_OE */
			<&gpio7 12 0>;		/* gpio7_12/sp1_cs2, HPD */

		hdmi_ddc = <&i2c2>;

		hdmi-monitor {
			compatible = "ti,hdmi_panel";
		};
	};
};
