/*
 * Copyright (C) 2014 H. Nikolaus Schaller <marek@goldelico.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/*
 * device tree for GTA04A3
 */

/* we start with the omap3-gta04 tree and modify only what is really different for the board revision A3 */

#include "omap3-gta04.dts"

/ {

	/* overwrite device model */
	model = "Goldelico GTA04A3";


};

/* FIXME:
 * the A3 board has several GPIOs swapped
 * and can't turn off the modem (i.e. disable the rfkill driver for the modem)
 */