/*
 * Copyright (C) 2014-15 H. Nikolaus Schaller <hns@goldelico.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include "omap3-gta04.dtsi"

/ {
	model = "Goldelico GTA04A5/Letux 2804";

	sound {
		ti,jack-det-gpio = <&twl_gpio 2 GPIO_ACTIVE_HIGH>;    /* GTA04A5 only */
	};

	modem_en: modem { /* control modem power through rfkill */
		on-indicator-gpio = <&twl_gpio 15 0>;	/* GTA04A5 only: reset_out feedback from modem */
	};

};

&twl_power {
	compatible = "ti,twl4030-power-idle-osc-off";
};

// FIXME: disable all W2CBW logic

// http://lxr.free-electrons.com/source/Documentation/devicetree/bindings/net/wireless/ti,wlcore.txt

/ {
	wlan_en_reg: fixedregulator@2 {
		compatible = "regulator-fixed";
		regulator-name = "wlan-en-regulator";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;

	        gpio = <&gpio3 17 0>;	// FIXME 

		startup-delay-us = <70000>;
		enable-active-high;
	};
};

&mmc2 {
	status = "okay";
	vmmc-supply = <&wlan_en_reg>;
	bus-width = <4>;
	cap-power-off-card;
	keep-power-in-suspend;

	#address-cells = <1>;
	#size-cells = <0>;
	wlcore: wlcore@2 {
		compatible = "ti,wl1835";
 		reg = <2>;
 		interrupt-parent = <&gpio1>;
 		interrupts = <19 IRQ_TYPE_LEVEL_HIGH>;	// FIXME!
	};
};