/*
 * Copyright (C) 2016 Golden Delicous Computers - http://www.goldelico.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/* this version is for the Letux Cortex 15 CPU board (V5.2) */

#include "omap5-letux-cortex15-v5.1.dts"

/ {
	model = "Letux Cortex 15 V5.2";
};

&cpu0 {
	operating-points = <
		/* kHz    uV */
		250000 750000
		500000 850000
		750000 950000
		1000000 1050000
		1250000 1100000
		1500000 1250000
#if 0	/* potentially overclocking */
		1700000 1250000
#endif
	>;
};

/* there is a hardware bug which required that external pull-up
 * for gpio8_228 and gpio8_229 to be not installed.
 * This means we need to use omap pull-ups which may draw more
 * current if no card is inserted or wp is active.
 */

&mmc1_pins {
	pinctrl-single,pins = <
		OMAP5_IOPAD(0x174, PIN_INPUT_PULLUP | MUX_MODE6)	/* 0x174:[15:0] sdcard_cd/gpio8_228 */
		OMAP5_IOPAD(0x176, PIN_INPUT_PULLUP | MUX_MODE6)	/* 0x175:[31:16] sdcard_wp/gpio8_229 */
	>;
};

&mmc1 { /* first SD slot */
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;
	cd-gpios = <&gpio8 4 0>;	/* gpio8_228 */
	wp-gpios = <&gpio8 5 0>;	/* gpio8_229 */
};
