/*
 * Copyright (C) 2014 H. Nikolaus Schaller <hns@goldelico.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/*
 * device tree for GTA04b3 (Letux 7004)
 */

/* we start with the omap3-gta04 tree and modify only what is really different */

#include "omap3-gta04.dts"

/ {

	/* overwrite device model */
	model = "Goldelico GTA04b3";

	/* add additional regulators etc. */

};

/*
&dpi1 {
	// define dpi panel

	lcd {
		compatible = "sharp,l???";
		// define parameters
		// and control GPIOs
	.pixelclock	= { 0, 33260000, 0 },

	.hactive = { 0, 800, 0 },
	.hfront_porch = { 0, 64, 0 },
	.hback_porch = { 0, 64, 0 },
	.hsync_len = { 0, 128, 0 },

	.vactive = { 0, 480, 0 },
	.vfront_porch = { 0, 8, 0 },
	.vback_porch = { 0, 35, 0 },
	.vsync_len = { 0, 2, 0 },

	.flags = DISPLAY_FLAGS_HSYNC_LOW | DISPLAY_FLAGS_VSYNC_LOW |
			DISPLAY_FLAGS_DE_HIGH | DISPLAY_FLAGS_PIXDATA_POSEDGE,
	.enable_gpio = 12,	/* 3.3V LDO controlled through McBSP5-CLKX of GTA04 * /
	};
};
*/

// MADC battery capacity = 3900000;

/* FIXME: handle optional USB Host output */

&i2c2 {
	/* we have a different set of LEDs */
	tca6507@45 {
		compatible = "ti,tca6507";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x45>;

/* FIXME */

		gta04_led0: red_aux@0 {
			label = "gta04:red:aux";
			reg = <0x0>;
		};

		gta04_led1: green_aux@1 {
			label = "gta04:green:aux";
			reg = <0x1>;
		};

		gta04_led3: red_power@3 {
			label = "gta04:red:power";
			reg = <0x3>;
			linux,default-trigger = "default-on";
		};

		gta04_led4: green_power@4 {
			label = "gta04:green:power";
			reg = <0x4>;
		};
	};

	/* touchscreen */
	tsc2007@48 {
		compatible = "ti,tsc2007";
		reg = <0x48>;
		interrupt-parent = <&gpio6>;
		interrupts = <0 IRQ_TYPE_EDGE_FALLING>;
		gpios = <&gpio6 0 GPIO_ACTIVE_LOW>;
		ti,x-plate-ohms = <450>;
		ti,rng_x = <123 456>;
		ti,rng_y = <123 456>;
		ti,rng_z = <123 456>;
		ti,flip_x = <0>;
		ti,flip_y = <0>;
		ti,swap_xy = <1>;
	};

};
