/*
 * Copyright (C) 2017 OpenPandora - http://www.pyra-handheld.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#define VERSION_5_1_2_AND_LATER
#include "pyra-mainboard-v5.1.dtsi"

/* overwrite device model */

/ {
	model = "Pyra-Handheld-V5.2";
};

&i2c2 {
	bq24297@6b {
		otg-gpios = <&gpio99 (3+16) (GPIO_ACTIVE_HIGH)>;
	};
};

&gpio99 {
	/* was a ti,tca6424 in older revisions */
	compatible = "nxp,pcal6524";
};

&i2c5 {
	ts3a227@3b {
		compatible = "ti,ts3a227e";
		reg = <0x3b>;
		interrupt-parent = <&gpio99>;
		interrupts = <14 IRQ_TYPE_EDGE_RISING>;
		ti,micbias = <0>;       /* 2.1V */
	};
};
