config ESP_HOSTED_NG
	tristate "ESP32 hosted ng"
	default n
	help
	  This is the ESP hosted ng driver.


config ESP_HOSTED_NG_SDIO
	tristate "ESP32 hosted ng for sdio"
	default n
	help
	  This is the ESP hosted ng driver.

config ESP_HOSTED_NG_SPI
	tristate "ESP32 hosted ng for spi"
	default n
	help
	  This is the ESP hosted ng driver.
